body, div, ul, li, a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.zoom-indicator {
    background-color: #444;
    color: #ecf0f1;
    text-align: center;
}

.kosmtik-alert {
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 60px;
    transition: height 500ms ease-in;
    background-color: #444;
    color: #efefef;
    z-index: 10000;
    font-size: 12px;
    display: none;
}
.kosmtik-alert .close {
    display: block;
    text-align: right;
    color: #efefef;
}
.kosmtik-alert .close:before {
    content: '❌ ';
}
.alert .kosmtik-alert {
    padding: 10px;
    height: auto;
    display: block;
}

/* Leaflet control overrides */
.leaflet-control a, .leaflet-control a:hover {
    background-color: #444;
    color: #ecf0f1;
    border: none;
    border-radius: 0!important;
    text-decoration: none;
    text-align: center;
    display: block;
}
.leaflet-control a:hover {
    background-color: #555;
}
.leaflet-bar a.leaflet-disabled {
    background-color: #777;
}
.leaflet-control, .leaflet-touch .leaflet-bar {
    border: 1px solid #222;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    width: 54px;
}
.leaflet-control-zoom-in {
    border-right: 1px solid #222;
}
.leaflet-control-scale {
    width: auto;
    border: none;
}
